* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: gill;
  src: url(fonts/GillSans.ttc);
}
@font-face {
  font-family: open;
  src: url(fonts/OpenSans-Light.ttf);
}

section {
  min-height: calc(100vh - 50px);
  background-color: white;
  padding: 30px 30px 14px 30px;
}

// section:nth-child(odd) {
//   background-color: black;
// }
